html {
    font-size:24px;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    background-color: #555555;
    color: white;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: repeat(3, 30vh);
    min-height:90vh;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

#game-board > div {
    display: grid;
    border: 1px solid #ccc;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: 1s;
}
#game-board > div:hover {
    background-color: #a6d7ff34;
    cursor: pointer;
}
button {
    margin-top: 1rem;
    width: 20%;
    margin: auto;
    border-radius: 0.5rem;
    transition: 1s;
}
button:hover {
    background-color: #008cff;
    color : white;
    cursor: pointer;
}